.container {
  gap: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 70rem;
  margin-inline: auto;
}

@media screen and (min-width: 700px) {
  .container {
    align-items: flex-start;
    grid-template-columns: minmax(min-content, 250px) 1fr;
  }
}
