.container {
  margin-block-start: 2rem;
  display: flex;
  flex-flow: row wrap;
}

.container + .container {
  margin-block-start: 1.5rem;
}

.container img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: var(--border-radius-regular);
}

.content {
  flex: 1;
  margin-inline-start: 1rem;
}

.content .top {
  background-color: var(--shape-sencodary);
  padding: 1rem 1rem 2rem;
  border-radius: var(--border-radius-regular);
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--color-support-text);
}

.header h1 {
  font-size: 1rem;
  color: var(--color-title);
}

.header time {
  display: block;
  margin-block-start: 0.25rem;
}

.container p {
  color: #c4c4cc;
  margin-block-start: 1rem;
}

.container .actions {
  padding: 0;
  background-color: transparent;
}

.actions span::before {
  content: '•';
  display: inline-block;
  margin-inline: 0.25rem;
}

.container .actions:hover {
  color: var(--brand-primary);
  background-color: transparent;

  transition: color 0.1s;
}

.actions svg {
  margin-inline-end: 10px;
}
