:root {
  --color-title: #e1e1e6;
  --shape-primary: #202024;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.25rem;
  background-color: var(--shape-primary);

  font-size: 1.5rem;
  color: var(--color-title);
}

.logo img {
  height: 2.5rem;
  margin-inline-end: 1rem;
}
