:root {
  --brand-primary: #00b37e;
  --brand-primary-dark: #00875f;

  --color-white: #ffffff;
  --color-title: #e1e1e6;
  --color-support-text: #8d8d99;
  --shape-primary: #202024;
  --shape-separator-color: #323238;

  --bg-color: #121214;

  --border-radius-regular: 8px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  overflow: hidden;
}

button,
input,
textarea {
  font: inherit;
}

:focus {
  outline: 2px solid var(--brand-primary-dark);
}

a:focus {
  border-radius: 2px;
}
